html, body {
    background-color: #F7CAC9;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.content {
    text-align: center;
}

.imheader {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    border-radius: 0 0 10px 10px;
    background-color: white;
    overflow: hidden;
}

.headerImage {
    max-width: 250px;
}

.headerDescription {
    max-width: 500px;
    text-align: justify;
}

.photographerName {
    font-size: 35px;
    font-weight: 600;
}

.headerDescriptionBioLabel {
    font-size: 20px;
}

.headerDetails {
    max-width: 250px;
    text-align: left;
}

.headerItem {
    min-width:250px;
}

.imgallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.imgallerytile {
    max-width: 300px;
    margin:10px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.imgallerytileimage {
    color: white;
    font-size:25px;
    font-weight: 800;
    height: 200px;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    padding-left: 10px;
}
.imgallerytilecontent {
    margin: 10px;
    text-align: justify;
}